.highlight{
  color: green;
}

h1{
  color:black;
}

h2{
  color:maroon;
  font-size: 24px;
}

h3{
  color:maroon;
}

p{
  color:black;
}

article div h2{
  color:maroon;
  font-size: 28px;
}

body{
  color: goldenrod;
  background: #rosybrown;
  font:Comfortaa
}

.section-title{
  color:saddlebrown;
}

.skill-label{
  color:darkred;
}


/* Mobile Hamburger Menu button and side nav */

#menu-button {
  font-family: inherit;
  font-feature-settings: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 30px;
  font-size:30px;
  cursor:pointer;
  width: 45px;
  background-color: initial;
}
#menu-button:hover {
  background-color: #333;
}
@media screen and (min-width: 1440px) {
  #menu-button {
    display: none;
  }
  #side-nav {
    width: 200px !important;
  }
  main {
    margin-left: 200px;
  }
}
