li{
	text-align: left;
	font-family: Garamond;
	font-size: 20px;
	color: white;
}

img {
	display: block;
	height : 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond;
	font-size: 20px;
	color: white;
}

.menu {
	border-radius: 5px;
	border: 2px solid #ff80b3;
	background-color: #ff0066;
	height: 25px;
	width: 150px;
	margin: 0 auto;
	text-align: center;
	display:inline-block;
	float: center;
}

#profile{

	border-radius: 5px;
	border: 2px solid #ff80b3;
	background-color: #ff0066;
	height: 50px;
	width: 200px;
	margin: 0px 50px 0px 550px;
	text-align: center;
	display:inline-block;
	float: center;
}


.section {
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #7F0037/*#a6a6a6*/;
	background-color: #7F0037;/*#666666*/
	height: 400px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	display:block;
	text-align: left;
	/*float: center;*/
}

.smallsection {
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #7F0037/*#a6a6a6*/;
	background-color: #7F0037;/*#666666*/
	height: 200px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	display:block;
	text-align: left;
	/*float: center;*/
}

.bigsection {
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #7F0037/*#a6a6a6*/;
	background-color: #7F0037;/*#666666*/
	height: 850px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	display:block;
	text-align: left;
	/*float: center;*/
}
a {
	text-decoration: none;
	color: #3D59AB;
	font-family: Garamond;
	font-size: 20px;
}

span {
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;
	font-family: Garamond;
}

#title {
	font-family: Garamond, Freestyle Script;
	font-size: 40px;
	color:white;
}

#sub{
	font-family: Garamond;
	font-size: 26px;
	color:white;
}

#paragraph {
	font-family: Garamond, Freestyle Script;
	font-size: 20px;
	color:white;
	text-align: left;
	}
	
#cont{
	font-family: Garamond, Freestyle Script;
	font-size: 20px;
	color:white;
	text-align: center;
	}

#syn {
	font-family: Freestyle Script, Garamond;
	font-size: 44px;
	color:white;
	text-align:center;
}

#s {
	font-family: Freestyle Script, Garamond;
	font-size: 50px;
	color:red;
	text-align:center;
}

#y {
	font-family: Freestyle Script,Garamond;
	font-size: 50px;
	color:orange;
	text-align:center;
}

#n {
	font-family: Freestyle Script, Garamond;
	font-size: 50px;
	color:yellow;
	text-align:center;
}

#a{
	font-family: Freestyle Script, Garamond;
	font-size: 50px;
	color:green;
	text-align:center;
}

#e{
	font-family: Freestyle Script, Garamond;
	font-size: 50px;
	color:#1E90FF;
	text-align:center;
}

#t{
	font-family: Freestyle Script,Garamond;
	font-size: 50px;
	color:	#8A2BE2;
	text-align:center;
}

#h{
	font-family: Freestyle Script, Garamond;
	font-size: 50px;
	color:	#FFB6C1;
	text-align:center;
}

#i{
	font-family: Freestyle Script, Garamond;
	font-size: 50px;
	color:	white;
	text-align:center;
}

#c{
	font-family: Freestyle Script, Garamond;
	font-size: 50px;
	color:	brown;
	text-align:center;
}

#r{
	font-family: Freestyle Script, Garamond;
	font-size: 50px;
	color:	grey;
	text-align:center;
}

#listdes{
	font-family: Garamond, Freestyle Script;
	font-size: 20px;
	color:white;
	text-align: left;
}
