li{
	text-align: left;
	font-family: Garamond, Freestyle Script, serif;
	font-size: 20px;
	color: white;
}

img {
	display: block;
	height : 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, Freestyle Script, serif;
	font-size: 20px;
	color: white;
}

.menu {
	border-radius: 5px;
	border: 2px solid #ff80b3;
	background-color: #ff0066;
	height: 25px;
	width: 150px;
	margin: 0px 100px 0px 600px;
	text-align: center;
	display:inline-block;
	/*float: center*/;
}


.section {
	display: inline-block;
	border-radius: 5px;
	border: 2px solid black/*#a6a6a6*/;
	background-color: black;/*#666666*/
	height: 650px;
	width: 600px;
	margin: 20px 40px 50px 20px;
	text-align: center;
}
a {
	text-decoration: none;
	color: #3D59AB;
	font-family: Garamond, Verdana, sans-serif;
}

span {
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
	font-family: Garamond,Corsiva;
}

#title {
	font-family: Garamond, Freestyle Script;
	font-size: 40px;
	color:white;
}

#sub{
	font-family: Garamond;
	font-size: 26px;
	color:white;
}

#paragraph {
	font-family: Garamond, Freestyle Script;
	font-size: 20px;
	color:white;
	text-align: center;
	}

#syn {
	font-family: Freestyle Script;
	font-size: 44px;
	color:white;
	text-align:center;
}

#listdes{
	font-family: Garamond, Freestyle Script;
	font-size: 20px;
	color:white;
	text-align: left;
}
